@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color:rgb(249, 249, 249);
}

header {
  position: fixed;
  width: 100%;
  padding: 15px;
  text-align: left;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

header nav a {
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 25px;
  align-items: left;
  text-decoration: none;
}

header nav a:hover,
header nav a.active {
  transition: 0.5s ease-out;
  font-size: 1.7rem;
  background: -webkit-linear-gradient(left,  rgb(17, 235, 243) , rgb(233, 78, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

body {
  background: white;
}

.picture {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  display: flex;
  columns: 2;
  align-items: center;
}

section:nth-child(1) {
  background-image: linear-gradient(160deg, #0c0c0c 0%, #555757 100%);
}

section:nth-child(2) {
  background-color: #0093E9;
  background-image: linear-gradient(180deg, #0c0c0c 0%, #555757 100%);  
}
section:nth-child(3) {
  background-color: #8BC6EC;
  background-image: linear-gradient(180deg, #555757 0%, #0c0c0c 100%);
}

section:nth-child(4) {
  background-color: #08AEEA;
  background-image: linear-gradient(180deg, #0c0c0c 0%, #555757 100%);
}

section .container {
  margin: 100px;
}

section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.name {
  font-size: 7rem;
  margin: 0;
}

.occupation {
  font-size: 2.5rem;
  margin: 0;
}

@media screen and (max-width: 600px) {

  header {
    font-size: 1rem;
  }
  
  header nav a {
    padding: 1px 10px;
  }
  
  header nav a:hover,
  header nav a.active {
    font-size: 1.3rem;
  }
  .bio {
    display: inline;
    padding: 10rem;
  }

  .picture {
    padding-top: 1rem;
    max-width: auto;
  }

  section {
    min-height: 100vh;
  }

  .name {
    font-size: 2.0rem;
  }
  
  .occupation {
    font-size: 1.0rem;
  }
}