@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
  margin: 0;
  scroll-behavior: smooth;
  color:rgb(249, 249, 249);
}

header {
  background-color: rgb(40, 40, 40);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  text-align: left;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3 );
  font-size: 1.2rem;
}

header nav a {
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 25px;
  align-items: left;
  text-decoration: none;
}

header nav a:hover,
header nav a.active {
  transition: 0.5s ease-out;
  font-size: 1.7rem;
  background: -webkit-linear-gradient(left,  rgb(243, 175, 17) , rgb(233, 78, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.picture {
  max-width: 100%;
  height: auto;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  display: flex;
  columns: 2;
  align-items: center;
}

section:nth-child(2) {
  background-image: linear-gradient(180deg, #575758 0%, #2c2c2f 100%);  
}
section:nth-child(3) {
  background-image: linear-gradient(180deg, #2c2c2f 0%, #575758 100%);
}

section:nth-child(4) {
  background-image: linear-gradient(180deg, #575758 0%, #2c2c2f 100%);
}

section .container {
  margin: 70px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.name {
  font-size: 5rem;
  color: #e97116;
}

.occupation {
  font-size: 2.5rem;
}


/* Education */

.logo {
  max-width: 100%;
  height: auto;
}

.school {
  font-size: 3rem;
  color: #e97116;
}

.degree {
  font-size: 1.5rem;
}

.education-info {
  display: flex;
  columns: 2;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 600px) {
  
  header nav a {
    padding: 1px 10px;
  }

  .bio {
    display: inline;
  }

  .picture {
    margin: 0.5rem;
  }

  .name {
    font-size: 3.0rem;
  }
  
  .occupation {
    font-size: 1.5rem;
  }

  .education-info {
    display: inline;
  }
  
  .logo {
    margin: 0.5rem;
  }
  .school {
    font-size: 3rem;
  }
  
  .degree {
    font-size: 1rem;
  }
}